:root {
  /* CSS */
  --color-tf: hsla(139, 35%, 11%, 0.911);
  --color-background: hsla(142, 86%, 6%, 0.904);
  --color-todo: hsla(137, 27%, 13%, 0.87);
}

body {
  background: var(--color-background);
}

.container {
  max-width: 400px;
}

input[type='text'],
input[type='text']:focus {
  color: #fff;
  border: none;
  background: var(--color-tf);
  max-width: 400px;
}

.todos li {
  background: var(--color-todo);
}

.delete {
  cursor: pointer;
}

.filtered {
  display: none !important;
}

.fa-trash-alt {
  color: #fff;
  filter: grayscale(100%) opacity(0.7);
  transition: color 600ms ease;
}

.fa-trash-alt:hover {
  filter: grayscale(0%) opacity(1);
  color: #fff;
}
